<!DOCTYPE html>
<html>
  <head>
    <title>VulnCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <nav>
        <% if user_signed_in? %>
           <%= link_to 'Top', root_path %>
           <%= link_to 'プロフィール', edit_user_registration_path %>
           <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
           <%= link_to "退会", '/users', method: :delete, data: {confirm: "本当に退会しますか？"} %>
         <% end %>
       </nav>
   </header>
    <% flash.each do |message_type, message| %>
      <div><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
